<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brazilian laboratories</title>

    <!-- bootstrap settings -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

{% macro draw_quest_links(page_obj) %}
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{page_obj.title}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for quest in page_obj.links %}
                <li><a href="{{ quest.url }}">{{ quest.text }}</a></li>
            {% endfor %}
        </ul>
      </li>
{% endmacro %}


<body>

  <div class="jumbotron" align="center">
    <h1>{{ page_title }}</h1>
  </div>

  <div class="well">
    Последнее обновление: {{ navbar_info.last_update }}
  </div>
  <!-- navigation bar-->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <ul class="nav navbar-nav">

      <li><a href="{{ navbar_info.main_page.url }}"> {{ navbar_info.main_page.text }} </a></li>
      <li><a href="{{ navbar_info.total_rating.url }}"> {{ navbar_info.total_rating.text }} </a></li>
      <li><a href="{{ navbar_info.team_select.url }}"> {{ navbar_info.team_select.text }} </a></li>

      <!-- Quest statistics -->
      {{ draw_quest_links(navbar_info.quest_ratings_links) }}
      {{ draw_quest_links(navbar_info.work_ratings_links) }}
      {{ draw_quest_links(navbar_info.error_ratings_links) }}



    </ul>
  </div>
</nav>

{% block content %}
  <div class="well">
    На этом сайте собирается и обновляется статистика Фандомной  Сайт пока находится в состоянии разработки и данные
    здесь пока будут отличаться от правильных в неправильную сторону.
    <p/>
    Дневник статистики ФБ на дайриках живёт <a href="http://brazilianlaboratories.diary.ru/">тут</a>, в нем данные по-прежнему максимально возможно точные.
  </div>
{% endblock %}
</body>
</html>