{% extends "base.html" %}

{% block content %}

    <div align="center">
         При нажатии на название работы откроется выкладка с ней в новой вкладке.

        {% for quest in works %}
        <h1>{{quest}}</h1>
            <table>
              <col width="256">
              <col width="50">
            <tr>
                <th>Работа</th>
                <th>Голосов</th>
            </tr>
            {% for work in works[quest] %}
            <tr>
                <td><a href="{{ work.work.url }}" target="_blank"> {{ work.work.text }} </a> </td>
                <td>{{ work.points }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}

    </div>
{% endblock %}